doctype html
html
  head
    meta(charset='utf-8')      
    title Checkers
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body
    h1 Checkers


    ul
      each val in ['black', 'white', 'black', 'white','black', 'white','black', 'white']
        li(class=val)
    ul
      each val in ['white', 'black', 'white','black', 'white','black', 'white', 'black']
        li(class=val)
    
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/lodash/lodash.min.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
